@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-cmColor: red;
  --animate-slide: slide 35s linear infinite;
  --animate-spin-slow: spin 15s linear infinite;
  --animate-spin-slower: spin 20s linear infinite;
  --animate-spin-slowest: spin 18s linear infinite;
}
/* --animate-compass1: compass1 12s infinite ease-in-out;
  --animate-compass2: compass2 10s infinite ease-in-out;
  --animate-compass3: compass3 14s infinite ease-in-out;
  --animate-compass4: compass4 16s infinite ease-in-out;
  --animate-compass5: compass5 18s infinite ease-in-out; */
/* @keyframes compass1 {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
@keyframes compass2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes compass3 {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes compass4 {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
@keyframes compass5 {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-20deg);
  }
} */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
  will-change: transform;
}

.animate-marquee2 {
  animation: marquee2 25s linear infinite;
  will-change: transform;
}

/* Pause animation on hover */
.animate-marquee:hover,
.animate-marquee2:hover {
  animation-play-state: paused;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  scroll-behavior: smooth;
}
